[Unit]
Description=Service to run Python IoTConnect program on boot.
After=network.target

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/python3 /home/weston/proteus-neai-demo-main/python-files/proteus-neai-demo.py

[Install]
WantedBy=multi-user.target
