[Unit]
Description=Service to run Python IoTConnect program on boot.
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/weston/Proteus-NEAI-Demo-main/Proteus_NEAI_Demo.py

[Install]
WantedBy=multi-user.target
